<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HomeRecord</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include the CSS -->
    <link href="/assets/stylesheets/toolkit.min.css" rel="stylesheet">

  </head>
  <body>
    <%= yield %>

    <!-- Include jQuery (required) and the JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/javascripts/toolkit.min.js"></script>
  </body>
</html>
